/* Addding a border around the header */
header {
    border: solid 1px goldenrod;
}

/*removing the bulleted list from the nav*/
nav {
    list-style-type: none;
}

/* Changing the nav to display horizontally*/
nav li{
    display: inline;
    margin: 10px;
}

/* Changing the months to differernt colors using sibling/decendant selectors*/
a + .disabled{
    color: gray;
}

a .disabled {
    color: gray;
}

.disabled {
    color:purple;
}


.active {
    color: yellow;
}

/* Changing the text to differernt colors using sibling/decendant selectors*/
.parent div div{
    color:red;
}

.parent div + h4 + div {
    color: blue;
}

/* Changing the text to differernt background colors using sibling/decendant selectors*/
.parent div > h4:first-of-type{
    background-color: red;
}

.parent div > h4:last-of-type{
    background-color: blue;
}

/* Adding a border to the direct descendant of grandparent class*/
.grandparent > h4 {
    border: solid 1px;
    border-radius: 5px;
}

/* changing the text properties of the promo class*/
.promo{
    font-weight: bold;
    color: gold;
}

/* Changing the height of the text boxes*/
input{
    height: 25px;
}